body{
    background: #000;
}
.watch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 200px;
    padding: 0px 5px 0px 5px;
    font-family: digital;
}
 @font-face {
    font-family: digital;
    src: url(digital.ttf);
 }

